#wrap .header {
  height: 130px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#wrap .header.active {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  animation: anim 2s;
  background: rgba(255,255,255,0.9);
}
#wrap .header .header-top-warp {
  height: 40px;
  background: #f1f1f1;
}
#wrap .header .header-top-warp .header-top {
  height: 40px;
  width: 1200px;
  margin: 0 auto;
}
#wrap .header .header-top-warp .header-top .nav {
  float: right;
}
#wrap .header .header-top-warp .header-top .nav li {
  font-weight: 700;
  padding: 0 15px;
  line-height: 40px;
  float: left;
}
#wrap .header .header-top-warp .header-top .nav li:hover {
  background: #fff;
}
#wrap .header .header-top-warp .header-top .nav li:hover a {
  color: #e94840;
}
#wrap .header .header-top-warp .header-top .nav li a {
  color: #000;
  font-weight: 700;
}
#wrap .header .header-top-warp .left {
  line-height: 40px;
  float: left;
}
#wrap .header .header-top-warp .left a span {
  font-weight: 700;
}
#wrap .header .header-bottom {
  width: 1200px;
  height: 90px;
  margin: 0 auto;
}
#wrap .header .header-bottom .logo {
  float: left;
  width: 280px;
  height: 100%;
}
#wrap .header .header-bottom .logo a {
  display: block;
  height: 100%;
  text-align: center;
}
#wrap .header .header-bottom .logo a img {
  width: 280px;
  height: 40px;
  margin-top: 20px;
}
#wrap .header .header-bottom .search {
  width: 700px;
  height: 100%;
  float: left;
  margin-left: 50px;
}
#wrap .header .header-bottom .search .inputwrap {
  height: 36px;
  width: 650px;
  margin-top: 28px;
}
#wrap .header .header-bottom .search .inputwrap span {
  background: #e94840;
  display: inline-block;
  cursor: pointer;
  height: 100%;
  text-align: center;
  line-height: 34px;
  color: #fff;
  font-weight: 300;
  width: 120px;
  float: left;
  border-radius: 0 5px 5px 0;
}
#wrap .header .header-bottom .search .inputwrap input {
  outline: none;
  width: 500px;
  height: 100%;
  float: left;
  border: 2px solid #e94840;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
}
#wrap .header .header-bottom .right {
  float: right;
  height: 100%;
  width: 90px;
}
#wrap .header .header-bottom .right img {
  width: 100%;
  height: 100%;
}
#wrap .content {
  margin-top: 130px;
  position: relative;
}
#wrap .content .menu {
  width: 150px;
  height: 300px;
  background-color: #333;
  margin-left: 100px;
  position: absolute;
  top: 0;
  left: 0;
}
#wrap .content .menu ul {
  width: 150px;
  background-color: #333;
  box-sizing: border-box;
  position: relative;
}
#wrap .content .menu ul li {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  color: #fff;
}
#wrap .content .menu ul li a:hover {
  background: #000;
}
#wrap .content .menu ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
}
#wrap .content .menu ul li:hover {
  border-right: 0;
  background-image: none;
}
#wrap .content .menu ul li:hover .submenu {
  display: block;
}
#wrap .content .menu ul li .submenu {
  position: absolute;
  left: 146px;
  top: 0;
  width: 120px;
  height: 300px;
  border: 1px solid #ddd;
  box-shadow: 0 0 8px #ddd;
  -moz-box-shadow: 0 0 8px #ddd;
  -webkit-box-shadow: 0 0 8px #ddd;
  background-color: #fff;
  z-index: 3;
  display: none;
}
#wrap .content .menu ul li .submenu .subleft {
  margin-left: 0;
  width: 120px;
  height: 300px;
  float: left;
  padding: 5px;
  z-index: 10;
}
#wrap .content .menu ul li .submenu .subleft dl {
  overflow: hidden;
  padding: 10px 0;
}
#wrap .content .menu ul li .submenu .subleft dl dt {
  float: left;
  height: 22px;
  line-height: 22px;
  margin-right: 10px;
  font-weight: bold;
  color: #707070;
  font-size: 12px;
  cursor: pointer;
}
#wrap .content .menu ul li .submenu .subleft dl :hover {
  color: #e94840;
}
#wrap .content .box1 {
  margin-top: 20px;
  height: 654px;
  width: 100%;
}
#wrap .content .box1 .boxTop {
  width: 1200px;
  height: 446px;
  margin: 0 auto;
}
#wrap .content .box1 .boxTop .title .title1 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}
#wrap .content .box1 .boxTop .title .title2 {
  margin-top: 15px;
  text-align: center;
}
#wrap .content .box1 .boxTop .title .title2 a {
  margin: 0 5px;
  font-size: 22px;
  display: inline-block;
}
#wrap .content .box1 .boxTop .title .title2 a:hover {
  color: #f00;
}
#wrap .content .box1 .boxTop .rows {
  margin-top: 10px;
  display: flex;
  height: 345px;
}
#wrap .content .box1 .boxTop .rows .row {
  display: block;
  width: 230px;
  padding: 10px;
  border: 1px solid #eaeaea;
  margin: 0 5px;
  height: 345px;
}
#wrap .content .box1 .boxTop .rows .row:hover {
  box-shadow: 3px 3px #ccc;
}
#wrap .content .box1 .boxTop .rows .row img {
  width: 100%;
  height: 100%;
}
#wrap .content .box1 .boxTop .rows .row .rowtitle {
  font-size: 16px;
  padding: 10px 0;
  font-weight: 800;
  color: #000;
}
#wrap .content .box1 .boxTop .rows .row p {
  color: #929292;
  padding: 5px 0;
  font-size: 13px;
  line-height: 18px;
  height: 58px;
}
#wrap .content .box1 .boxTop .rows .row .money {
  font-size: 14px;
  padding: 5px 5px;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  color: #fb474f;
}
#wrap .content .box1 .boxTop .rows .row .money .span1 {
  font-size: 20px;
}
#wrap .content .box1 .boxTop .rows .row .money .span2 {
  float: right;
  padding: 0;
  width: 76px;
  height: 24px;
  line-height: 22px;
  text-align: center;
  background: #fb474f;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}
#wrap .content .box1 .boxbottom {
  width: 1200px;
  border: 1px solid #eaeaea;
  height: 118px;
  box-sizing: border-box;
  margin: 20px auto 0;
  padding: 10px;
}
#wrap .content .box1 .boxbottom a {
  display: inline-block;
  margin: 14px 6px 0px;
  color: #3d3838;
}
#wrap .content .box1 .boxbottom a:hover {
  color: #f00;
}
@-moz-keyframes anim {
  0% {
    transform: rotateX(-30deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes anim {
  0% {
    transform: rotateX(-30deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-o-keyframes anim {
  0% {
    transform: rotateX(-30deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes anim {
  0% {
    transform: rotateX(-30deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
